{% extends "base.html" %}

{% block content %}
<div>
	<a href="/blog">Back</a>

	<div class="blog_post">
		<div>{{post.subject}}</div>
		<div>by {{post.writer}}</div>
		<div>{{post.content}}</div>
		<div>Likes: {{post.likes}}</div>
		<div>
			<a href="/blog/like/{{ post.key().id() }}">Like</a>
			<a href="/blog/edit/{{ post.key().id() }}">Edit</a>
			<a href="/blog/delete/{{ post.key().id() }}">Delete</a>
		</div>
	</div>
	<h4>Comments</h4>
	<form method="post">
		<label>
			<div>Add comment</div>
			<textarea name="comment"></textarea>
		</label>

		<input type="submit">
	</form>
	{% for comment in my_comments %}
		<div class="comment">
			<div><b>{{comment.writer}}</b></div>
			<div>{{comment.comment}}</div>
			<div>Likes: {{comment.likes}}</div>
			<div>
				<a href="/blog/{{ post.key().id() }}/like/{{ comment.key().id() }}">Like</a>
				<a href="/blog/{{ post.key().id() }}/{{ comment.key().id() }}">Edit</a>
				<a href="/blog/{{ post.key().id() }}/delete/{{ comment.key().id() }}">Delete</a>
			</div>
		</div>
	{% endfor %}	
</div>
{% endblock %}
