<!DOCTYPE html>

<html>
	<head>
		<title>Basic Blog</title>
	</head>

	<style>
		.blog_post {
			padding: 10px;
		}
		.comment {
			padding: 10px;
		}
	</style>

	<body>
		<h1>My Blog</h1>

		<div class="blog_post">
			<div>{{post.subject}}</div>
			<div>by {{post.writer}}</div>
			<div>{{post.content}}</div>
			<div>Likes: {{post.likes}}</div>
			<div><a href="/blog/like/{{ post.key().id() }}">Like</a></div>
			<div><a href="/blog/edit/{{ post.key().id() }}">Edit</a></div>
			<div><a href="/blog/delete/{{ post.key().id() }}">Delete</a></div>
			{% for liker in post.likers %}
				<div>{{liker}}</div>
			{% endfor %}
		</div>
		<h4>Comments</h4>
		<form method="post">
			<label>
				<div>Add comment</div>
				<textarea name="comment"></textarea>
			</label>

			<input type="submit">
		</form>
		{% for comment in my_comments %}
			<div class="comment">
				<div><b>{{comment.writer}}</b></div>
				<div>{{comment.comment}}</div>			
			</div>
		{% endfor %}
	</body>
</html>